
/* .ng-invalid:not(form)  {
    border-left: 2px solid #fc0a32; red 
    }*/
  

.validation-erros { 
  color: rgb(234, 13, 13);
}

ion-button{
  margin-left: 0px;
}


.background-image {
  background-image: url('/assets/img/img2.png'); 
  background-size: cover;
  background-position: center;
}

.login-container {
  max-width: 350px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 // background-color: rgba(234, 13, 13, 0.8); /* Fondo semi-transparente para el contenedor del formulario */
}

.cont{
  --background: var(--ion-background-color, #000000);
}





  