
.validation-erros { 
  color: rgb(234, 13, 13);
}

.background-images {
  //  --background-image: url('/assets/img/img3.jpg'); 
    background-size: cover;
    background-position: center;
    --background: var(url('/assets/img/img2.jpg'));

  }

.myformulario{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;

}

.validation-erros{
  color: red;
}

.myitems{
  color: white;
}

.myboton{
  margin-left: 20px;
  margin-right: 20px;
}
.mylog{
    font-family: MONOSPACE;
    font-size: 20px;
    color: white;
    text-align: center;
}

.myfoood{
  webkit-box-shadow: 0 2px 4px -1px rgba(255, 254, 254, 0.2), 0 4px 5px 0 rgba(94, 69, 69, 0.14), 0 1px 10px 0 rgba(241, 241, 241, 0.12); 
  box-shadow: 0 2px 4px -1px rgba(254, 254, 254, 0.2), 0 4px 5px 0 rgba(57, 46, 46, 0.14), 0 1px 10px 0 rgba(255, 255, 255, 0.12);

}






  