
<ion-header [translucent]="true" class="myheader">
  <ion-toolbar>
    Login
  </ion-toolbar>
</ion-header>

<ion-content class="background-images" class="mycont">
    <form class="myformulario" [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value) ">
  
      <ion-item class="myitems">
        <ion-input label="Email" labelPlacement="floating" placeholder="name@example.com" formControlName="email" ></ion-input>
      </ion-item>
  
  
      <div class="validation-erros">
        <ng-container *ngFor="let validation of validation_message.email">
          <div *ngIf="(
                 loginForm.get('email')?.hasError(validation.type) && 
                 loginForm.get('email')?.dirty ),
                 ">
  
                 {{validation.message}}
  
          </div>
        </ng-container>
      </div>
      
      <br>
      
      <ion-item class="myitems">
        <ion-input label="Password" labelPlacement="floating" placeholder="*********" formControlName="Password" type="password" ></ion-input>
      </ion-item>
      
      <div class="validation-erros">
        <ng-container *ngFor="let validation of validation_message.Password">
          <div *ngIf="(
                 loginForm.get('Password')?.hasError(validation.type) && 
                 loginForm.get('Password')?.dirty ) 
                 ">
  
                 {{validation.message}}
  
          </div>
  
        </ng-container>
      </div>
      <br>
      
      <ion-button expand="full" shape="round" color="success" type="submit" [disabled]="!loginForm.valid">
        Ingresar
      </ion-button>
    </form>
    <ion-footer>
      <ion-button class="myboton" expand="full" shape="round" color="success" (click)="goToRegister()" >
        Registro
      </ion-button>
    </ion-footer>

 
</ion-content>
 