
/* Clases agg*/
ion-header{
  background-color: #38b1b040;
}
 
ion-title {
font-size:20px;
color: rgb(245, 38, 159);
}
.ng-invalid:not(form)  {
    border-left: 5px solid #fc0a32; /* red */
  }

.validation-erros { 
  color: rgb(234, 13, 13);

}

ion-grid{

  margin-left: -50px;
  margin-top: 169px;
  margin-right: -50px;
  background-color: rgb(9, 219, 205);
}

ion-button{
  margin-left: 0px;
}


.background-image {
  background-image: url('/assets/img/img2.jpg'); 
  background-size: cover;
  background-position: center;
 // z-index: -1; 
}

.ejemplo {
  --background-color: pink;
}

form, input, optgroup, select {
  margin: 100px;
  padding: 5px;
  font: inherit;
  color: inherit;
}
  