.slide-icon {
  font-size: 25px;
  color: #a9159c;
}

.my-favoryte-text-color {
color: pink;
font-size: 20PX;
}

//actividad 1 

.type_font {
  color: pink;
  font-size: 15px;   
  font-family:'Tahoma';
  
}

.img {
  width: 97%;
  height: 210px;
  display: flex;
}