/** .slide-icon {
  font-size: 25px;
  color: #a9159c;
}

.my-favorite-text-color {
color:(--my-favorite-color);
}

//actividad 1 

.type_font {
  color: pink;
  font-size: 15px;   
  font-family:'Tahoma';
  
}

.img {
  width: 97%;
  height: 210px;
  display: flex;
}

// clase 2 

h1 {
  color: var(--ion-color-primary);
}

p {
  font-size: var(--my-favorite-font-size);
}
ion-content {
  --background: red;

} **/

ion-content {
  --background: rgb(238, 227, 19); //modificando custom 1
}

ion-header {   //modificando custom 2
  background: black;
  color:rgb(254, 1, 1);
}

