
ion-avatar {
  height: 100px;
  width: 100px;

}
swiper-slide{
  height: 115px;
}

.album-style {
    --border-radius: 4px;
  }

.myheader{
  font-family: MONOSPACE;
  font-size: 20px;
}

.mycont{
  font-family: MONOSPACE;
  font-size: 12px;

}
