.center-avatar {
    margin: auto;
    width: 100px;
    height: 100px;
    margin-top: 10px;

}

.myava {
    font-family: MONOSPACE;
    color: white;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

ion-grid {
    color: white;
}

ion-buttons {
    color: white;
}